.pie-chart

  nvd3-pie-chart(
    data="data",
    showLegend="true",
    width="300px",
    height="300px",
    showlabels="true",
    labelType="percent",
    interactive="true",
    xAxisTickFormat="xAxisTickFormatFunction()",
    yAxisTickFormat="yAxisTickFormatFunction()",
    x="xFunction()",
    y="yFunction()",
    useInteractiveGuideline="true",
    pieLabelsOutside="false",
    tooltips="true"
  )
